<!-- Content -->
<div class="container-fluid" id="content">
    <?php include INCLUDES_REPO . 'beauty_coll.php' ?>
    <!-- Placeholders --> 
    <div class="col-xs-12 main">
        <div class="row placeholders">
            <?php
            // Show only if empty
            if (count($this->recordSet['coll_data']['ctg_prds']) == 0) {
                ?>
                <div class="col-xs-12 placeholder">
                    <div class="txt_prod"><?= constant('cat1col1'); ?></div>
                </div>
                <?php
            } else {
                for ($j = 0; $j < count($this->recordSet['coll_data']['ctg_prds']); $j++) {
                    $prds_prdname = $this->recordSet['coll_data']['ctg_prds'][$j]['prd_name'];
                    $ctgprds_img = $this->recordSet['coll_data']['ctg_prds'][$j]['prd_img'];
                    $ctgprds_url = $this->recordSet['coll_data']['ctg_prds'][$j]['url'];
                    $error = $this->recordSet['coll_data']['ctg_prds'][$j]['error'];

                    if ($j % 5 == 0) {
                        /* ! position 1 in each row */
                        ?>
                        <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 placeholder brdr-v">        
                            <?php
                        } else {
                            /* ! any other position in each row */
                            ?>
                            <div class="col-xs-6 col-sm-4 col-md-2 placeholder brdr-v-right">
                            <?php } ?>
                            <a href="<?= $ctgprds_url ?>">
                                <img class="img-responsive" src="<?= $ctgprds_img; ?>" onerror="this.onerror=null;this.src='<?= $error ?>';" border="0">
                            </a>
                            <br>
                            <?= $prds_prdname; ?> 				
                        </div>
                        <!--end of placeholder-->            
                    <?php } ?>
                <?php } ?>
            </div>
            <!--end of all placeholders-->
        </div>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?>
<!-- end of content -->