<!-- Content -->
<div class="container-fluid" id="content">
    <?php include INCLUDES_REPO . 'beauty_coll.php' ?>
    <!-- Placeholders --> 
    <div class="col-xs-12 main">
        <div class="row placeholders">
            <?php
            for ($d = 0; $d < count($this->recordSet['coll_data']['coll_relations']); $d++) {
                $coll_img = $this->recordSet['coll_data']['coll_relations'][$d]['img'];
                $coll_name = $this->recordSet['coll_data']['coll_relations'][$d]['name'];
                $coll_url = $this->recordSet['coll_data']['coll_relations'][$d]['url'];
                $error = $this->recordSet['coll_data']['coll_relations'][$d]['error'];
                ?>            
                <?php
                if ($d % 5 == 0) {
                    // position 1 in each row 
                    ?>
                    <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 placeholder brdr-v">        
                        <?php
                    } else {
                        // any other position in each row 
                        ?>
                        <div class="col-xs-6 col-sm-4 col-md-2 placeholder brdr-v-right">
                        <?php } ?>
                        <a href="<?= $coll_url ?>">
                            <img class="img-responsive" src="<?= $coll_img ?>" onerror="this.onerror=null;this.src='<?= $error ?>';" border="0">
                        </a>
                        <br>
                        <?= $coll_name; ?> 				
                    </div>
                    <!--end of placeholder-->

                    <?php if (($this->recordSet['coll_data']['coll_relations']) == null) { ?>
                        <div class="col-xs-12 placeholder">
                            <div class="txt_prod"><?= constant('cat1col1'); ?></div>
                        </div>
                    <?php } ?>
                <?php } ?>
            </div>
            <!--end of all placeholders-->
        </div>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?>
<!-- end of content -->