<!-- Content -->
<div class="container-fluid" id="content">
    <div class="row">
        <div class="producto2 col-xs-12 no-h-padding">
            <div class="row">
                <div id="categories" class="col-xs-12 col-sm-2 col-md-2 sidebar">
                    <!-- Sidebar Menu insertion -->
                    <?php include INCLUDES_REPO . 'sidebar_transp.php' ?>
                    <!-- End of Sidebar insertion-->          
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 producto-margin-top" >
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <p class="seat-red-text fs-25 meta-pro-light pull-left" ><?= $this->recordSet['coll_data']['list_name']; ?></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                        </div>
                    </div>
                    </br>	
                    <div class="row" id="divcard_0">
                        <div class="imagen col-xs-12 col-sm-6 no-h-padding pull-left">
                            <div class="card_image">                  
                                <img class="img-responsive" src="<?= $this->recordSet['coll_data']['list_img'] ?>" onerror="this.onerror=null;this.src='<?= $this->recordSet['coll_data']['error'] ?>';" width="467" height="340" border="0" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right brdr-v" style="height: 340px;">
                            <div class="meta-pro-normal productos_txt productos-txt" style="height: 340px;"><?= nl2br($this->recordSet['coll_data']['ctg_list'][0]['prd_notes']); //first product returned notes     ?></div>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <?php
                        if (($this->recordSet['coll_data']['ctg_list'] == null)) {
                            echo constant('cat1col1');
                        } else {
                            ?>
                            <h3 class="meta-pro-light"><?= constant('clistTITLE'); ?></h3>
                            <table cellpadding="10" cellspacing="0">
                                <!--<tbody>-->
                                <tr class="seat-red-text meta-pro-normal fs-15 brdr-h-bottom" style="height:30px;">
                                    <td width="200" valign="middle" align="left"><strong><?= constant('clistREF'); ?></strong></td>
                                    <td width="630"	valign="middle" align="left"><strong><?= constant('clistPRO'); ?></strong></td>
                                    <td width="50"	valign="middle" align="center"><strong><?= constant('clistSIZ'); ?></strong></td>
                                    <td width="300"	valign="middle" align="center"><strong><?= constant('clistCOL'); ?></strong></td>
                                    <?php if (constant('has_prices')==true) { ?>
                                        <td width="120"	valign="middle" align="center"><strong><?= constant('clistPRC'); ?></strong></td>
                                    <?php } ?>
                                </tr>
                                <?php
                                foreach ($this->recordSet['coll_data']['ctg_list'] as $key => $value) {
                                    $cl_prdsku = $value['prd_sku'];
                                    $cl_prdimg = $value['prd_img'];
                                    $cl_prdname = $value['prd_name'];
                                    $cl_prdsize = $value['prd_size'];
                                    $cl_prdcolor = $value['prd_color'];
                                    $cl_prdprice = $value['prd_price'];
                                    $cl_url = $value['url'];                                    
                                    ?>
                                    <tr class="fs-15 producto_lista meta-pro-normal brdr-h-bottom" style="height:30px;">
                                        <td align="left" valign="middle"><a href="<?= $cl_url; ?>"><strong><?= $cl_prdsku; ?></strong></a></td>
                                        <td align="left" valign="middle"><a href="<?= $cl_url; ?>"><?= $cl_prdname; ?></a></td>
                                        <?php if ($this->recordSet['coll_data']['ctg_list'][0]['prd_size'] != '') { ?>
                                            <td align="center" valign="middle"><a href="<?= $cl_url; ?>"><?= $cl_prdsize; ?></a></td> 
                                        <?php } else { ?>
                                            <td align="center"  valign="middle"> </td>
                                        <?php } ?>
                                        <td align="center" valign="middle"><a href="<?= $cl_url; ?>"><?= $cl_prdcolor; ?></a></td>
                                        <?php if (constant('has_prices')==true) { ?>
                                            <td align="center" valign="middle"><a href="<?= $cl_url; ?>"> <?= $cl_prdprice . ' ' . constant('lCURR'); ?></a></td>
                                        <?php } ?>
                                    </tr>
                                <?php } ?>
                                <!--</tbody>-->
                            </table>
                        <?php } ?>   
                    </div>
                    </br>     
                </div>
            </div>
        </div>      
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?>
<!-- end of content -->