<!-- Content -->
<div class="container-fluid no-h-padding" id="content">
    <!-- Beauty insertion -->
    <div class="col-xs-12 no-h-padding" style="border-radius: 0px;">
        <!--CAROUSELCOL -->
        <?php include INCLUDES_REPO . 'carouselcol.php' ?>  
    </div>
    <!-- end of beauty-->
    <div class="col-xs-12">
        <div class="row">
            <?php foreach ($this->recordSet['coll_selector'] as $key => $value) { ?>        
                <!--Collection selection-->
                <div class="col-xs-12 col-sm-6 col-md-3 mrgn-bottom-0">
                    <a href="<?= $value['url'] ?>">
                        <p align="center" class="seat-deep-grey-text meta-pro-light fs-20"><?= $value['name_uppercase']; ?></p>
                        <img class="img-responsive center-block" src="<?= $value['img'] ?>" onerror="this.onerror=null;this.src='<?= $value['error'] ?>';" alt="<?= $value['alt']; ?>" />
                    </a>
                </div>
            <?php } ?>
        </div>    
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php  ?>
<!--end of content-->