/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 100px;
    margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 100px;
    background-color: #000;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.triangle-bottom{
    width:0;
    height:0;
    border-width:0 0 64px 1920px;
    border-color:transparent transparent #fff transparent;
    border-style:inset;
    -webkit-transform:rotate(360deg)
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 480px) {

    .carousel {
        height: 160px;
        margin-bottom: 15px;
    }

    .carousel .item {
        height: 160px;
        background-color: #FFF;
    }
}

@media (min-width: 550px) {

    .carousel {
        height: 190px;
        margin-bottom: 20px;
    }

    .carousel .item {
        height: 190px;
    }
}

@media (min-width: 600px) {

    .carousel {
        height: 210px;
        margin-bottom: 20px;
    }

    .carousel .item {
        height: 210px;
    }
}

@media (min-width: 700px) {

    .carousel {
        height: 250px;
        margin-bottom: 20px;
    }

    .carousel .item {
        height: 250px;
    }
}

@media (min-width: 800px) {

    .carousel {
        height: 440px;
        margin-bottom: 20px;
    }

    .carousel .item {
        height: 440px;
    }
}

@media (min-width: 980px) {

    .carousel {
        height: 440px;
        margin-bottom: 20px;
    }

    .carousel .item {
        height: 440px;
    }
}

@media (min-width: 1280px) {

    .carousel {
        height: 440px;
        margin-bottom: 20px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel .item {
        height: 440px;
    }
}
