@font-face {
    font-family: MetaProLight;
    src: url("../fonts/MetaPro-Light.woff");
}
@font-face {
    font-family: MetaProThin;
    src: url("../fonts/MetaPro-Thin.woff");
}
@font-face {
    font-family: MetaProNormal;
    src: url("../fonts/MetaPro-Normal.woff");
}
@font-face {
    font-family: MetaProBold;
    src: url("../fonts/MetaPro-Bold.woff");
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 0;
    margin-top: 0;
}
#wrap,
body,
html {
    height: 100%;    
}
body>#wrap {    
    height: auto;
    min-height: 100%;
    max-width: 1450px;
    margin: 0 auto;        
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
#content {
    padding-bottom: 160px; /* value= 140px; same as footer */
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.clearboth {
    clear: both;
}
.center-it {
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
}
.mrgn-top-10 {
    margin-top: 10px;
}
.mrgn-bottom-0 {
    margin-bottom: 0px;
}
.mrgn-bottom-20 {
    margin-bottom: 20px;
}
.mrgn-bottom-10 {
    margin-bottom: 20px;
}
.mrgn-top-20 {
    margin-top: 20px;
}
.mrgn-v-15 {
    margin: 15px 0px;
}
.mrgn-h-15 {
    margin: 0px 15px;
}
.no-h-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.bg-red {
    background-color: #d7122b;
}
.bg-grey {
    background-color: #666;
}
.bg-black {
    background-color: #000;
}
.seat-red-text {
    color: #d7122b;
}
.seat-dark-grey-text {
    color: #8c8c8c;
}
.seat-deep-grey-text {
    color: #333333;
}
.seat-light-grey-text {
    color: #e9e9e9;
}
.seat-white {
    color: #ffffff;
}
.seat-helvetica {
    font-family: Helvetica, sans-serif;
}
.meta-pro-light {
    font-family: MetaProLight, Arial, sans-serif;
}
.meta-pro-thin {
    font-family: MetaProThin, Arial, sans-serif;
}
.meta-pro-normal {
    font-family: MetaProNormal, Arial, sans-serif;
}
.meta-pro-bold {
    font-family: MetaProBold, Arial, sans-serif;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px;
}
.fs-30 {
    font-size: 30px;
}
.fs-35 {
    font-size: 35px;
}
.fs-40 {
    font-size: 40px;
}
.fs-45 {
    font-size: 45px;
}
.fs-50 {
    font-size: 50px;
}
.fs-55 {
    font-size: 55px;
}
.fs-60 {
    font-size: 60px;
}
.fs-65 {
    font-size: 65px;
}
.fs-70 {
    font-size: 70px;
}
.fs-75 {
    font-size: 75px;
}
.underline {
    text-decoration: underline;
}
.hover-underline a:hover {
    text-decoration: underline;
    color: #d7122b;
}
.seat-footer-little {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
.seat-footer-big {
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
}
.a-deco-none {
    text-decoration: none;
}
a,
a:focus,
a:hover {
    text-decoration: none;
    word-wrap: normal;
}
.productos-txt {
    overflow-y: auto;
    width: 100%;
    min-height: 240px;
}

.productos-txt-short {
    overflow-y: auto;
    width: 100%;
    height: 200px;
}

.producto-margin-top {
    margin-top: 10px;
}
.producto-min-height {
    min-height: 80px;
}
.height-260 {
    height: 260px;
}
.datos-producto-padding {
    padding-left: 0px;
    padding-right: 20px;
}
#modelo-car {
    padding-left: 0px;
    padding-right: 0px;
}
#head_cga {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}
#langs-dropdown>.open {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 0;
}
.dropdown,
.dropdown-menu {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.producto_new {
    background-color: #CD1A20;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
#seat-catalogue-title {
    margin-top: 15px;
    z-index: 0;
}
.pad-top-50 {
    padding-top: 50px;
}
.seat_button {
    font-size: 15px;
    border-radius: 0;
    text-shadow: none;
    background-color: #d7122b;
    color: #fff !important;
    background-image: -moz-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.16)),color-stop(52%,rgba(255,255,255,0.08)),color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -o-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -ms-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    border-color: transparent;
    padding: 15px 20px;
    font-family: MetaProNormal, Arial, sans-serif;
    font-weight: normal;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.seat_button_ficha {
    font-size: 12px;
    border-radius: 0;
    text-shadow: none;
    color: #fff !important;
    background-image: -moz-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.16)),color-stop(52%,rgba(255,255,255,0.08)),color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -o-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: -ms-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.08) 48%,rgba(255,255,255,0.16) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    border-color: transparent;
    padding: 10px 10px 5px 10px;
    font-family: MetaProNormal, Arial, sans-serif;
    font-weight: normal;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

}
.form-group {
    margin-bottom: 5px;
}
#categories h2 {
    font-family: MetaProBold, Arial, sans-serif;
    color: #fff;
    font-family: MetaProBold, Arial, sans-serif;
    font-size: 25px;
    padding: 5px 0px 0px 0px;
}
.car-cell {
    height: 150px;
    margin-bottom: 15px;
    padding: 0px;
}
.car-cell img {
    margin-bottom: 10px;
}
.car-cell p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.table_cart {
    width: 100%;
}
.table_cart td {
    padding: 5px;
}
.jumbotron-template { /* revisited by js function */
    position: relative;
    background: #000 no-repeat center right;
    background-size: cover;
    overflow: hidden;
    height: 375px;
    border-radius: 0px;
}
.hero-titles {
    position: absolute;
    bottom: 30px;
    left: 30px;
    line-height: 40px;    
}
.navbar {
    border-radius: 0;
    min-height: 30px;
}
.navbar-nav {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.navbar-nav li {
    background-color: white;
    text-align: center;
    width: 100%;
}
.navbar-header {
    text-align: center;
    width: 100%;
}
.navbar-header button {
    display: inline-block;
    float: none;
}
.navbar-default .navbar-collapse {
    background-color: white;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #d7122b;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color: #d7122b;
}
.navbar-nav>li>a {
    background-color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}
.navbar-nav>li>a>span:focus,
.navbar-nav>li>a>span:hover {
    background-color: white;
    color: #d7122b;
}
#cars-nav {
    background-color: white;
    border: none;
    font-family: SeatMetaBold, Arial, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 30px;   
    z-index: 1;
}
@media (min-width: 768px) {
    .navbar-nav {
        clear: both;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .navbar-nav li {
        clear: both;
        display: inline-block;
        float: none;
        width: auto;
    }
    .navbar-header button {
        display: none;
    }
}
.nav-sidebar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}
.nav-sidebar>li>a {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    margin-bottom: 7px;
    padding: 5px 15px;
}
.nav-sidebar>li>a:focus,
.nav-sidebar>li>a:hover {
    background-color: #d7122b;
    border: 1px solid #d7122b;
    color: #ffffff;
}
.panel-body {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px 20px 5px 20px;
    }
}
.nav-sidebar-clear {
    background-color: rgba(0, 0, 0, 0);
    color: #666666;
}
.nav-sidebar-clear>li>a {
    background-color: rgba(0, 0, 0, 0);
    color: #666666;
    margin-bottom: 7px;
    padding: 5px 15px;
}
.nav-sidebar-clear>li>a:focus,
.nav-sidebar-clear>li>a:hover {
    background-color: #d7122b;
    border: 1px solid #d7122b;
    color: #ffffff;
}
.panel-body-clear {
    border: 1px solid #666666;
    border-radius: 5px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.breadcrumb {
    background-color: #575757;
    border-radius: 0;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.breadcrumb>li {
    color: white;
    font-family: MetaProNormal;
    padding: 6px 15px 6px 10px;
}
.breadcrumb>li:first-child {
    background: url('http://gestor.seataccesoriescatalogue.com/imgs/punta_red.png') no-repeat right;
    color: white;
    margin-left: 0px;
}
.breadcrumb>li:last-child {
    color: white;
}
.breadcrumb>li+li:before {
    content: "";
    padding: 0px;
}
.breadcrumb>li>a:focus,
.breadcrumb>li>a:hover {
    color: white;
    text-decoration: none;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
#content {
    min-height: 350px;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    font-family: MetaProLight;
    margin-bottom: 20px;
    min-height: 200px;
}
.placeholder img {
    display: inline-block;
    /*height: 130px;*/
    margin-bottom: 10px;
    width: 160px;
}
.brdr-v-right {
    border-right: 1px solid #ccc;
}
.brdr-v {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.brdr-h-bottom {
    border-bottom: 1px solid #ccc;}
/*
* Footer
*/
footer{
    width: 100%;
    background:-moz-linear-gradient(105deg,#1f1f1f 72%,#181818 0);
    background:-webkit-gradient(linear,left top,right bottom,color-stop(72%,#1f1f1f),color-stop(0,#181818));
    background:-webkit-linear-gradient(105deg,#1f1f1f 72%,#181818 0);
    background:-o-linear-gradient(105deg,#1f1f1f 72%,#181818 0);
    background:-ms-linear-gradient(105deg,#1f1f1f 72%,#181818 0);
    background:linear-gradient(105deg,#1f1f1f 72%,#181818 0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f1f1f',endColorstr='#181818',GradientType=1);
    vertical-align: middle;
}

#footer {
    position: relative;
    margin-top: -120px; /* Misma altura que el footer en negativo */
    height: 140px; /* Altura del footer */
    clear: both;    
}

.footer-text {
    margin-top: 3%;
}
.producto_lista a {
    color: #333;
}
.producto_lista:hover {
    background-color: #F0F0F0;
}
/* MAP */
​.loading-overlay {
    background-color: #ffffff;
    opacity: 0.5;
}
.spin-loader { 
    height: 45px;
    background: url("http://seat.snconsultors.com/imgs/load_wheel.gif") no-repeat center center transparent;
    background-size: 20px 20px;
    position: relative;
    top: 70%;
    left: 1%;
}