/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-oct-2017, 16:32:47
    Author     : ricard
*/
#cookies-modal-dialog {
    position: absolute;
    bottom: 0px;
    z-index: 10001;
    overflow: auto;
    overflow-y: auto;

}
#cookies-modal-content {
    background-color: rgb(255,255,255);
}

.cookie-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

