/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2017, 12:22:35
    Author     : ricard
*/

​.loading-overlay {
    background-color: #ffffff;
    opacity: 0.5;
}

.spin-loader { 
    height: 45px;
    background: url("http://gestor.seataccesoriescatalogue.com/imgs/load_wheel.gif") no-repeat center center transparent;
    background-size: 20px 20px;
    position: relative;
    top: 70%;
    left: 1%;
}

