.ui-jqgrid-btable .ui-state-highlight { 
    background: #666;
    color: #FFF; 

}
.ui-state-highlight  a{ 

    text-decoration: none;
    color: #FFF;
}
.ui-state-highlight  a:hover { 

    text-decoration: none;
    color: #FFF;
}
.ui-state-highlight a:active{ 

    text-decoration: none;
    color: #FFF;
}
.ui-state-highlight  a:visited { 

    text-decoration: none;
    color: #FFF;
}

.ui-state-highlight a:link { 

    text-decoration: none;
    color: #FFF;
}


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size: x-small;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html 
.ui-autocomplete {
    height: 200px;
}
.rojo{
    color: #FF0000;
}
.subrallado{
    text-decoration: underline;
}
.negrita{
    font-weight: bold;
}
.cochesiguales{
    color:#FFFFFF;
    background-color:#CD1A20;
}
#accordion-resizer {
    padding: 10px;
    width: 960px;
    height: auto;
}