@charset "utf-8";
/* CSS Document */

@font-face{font-family: MetaProNormal; src:url("../fonts/MetaPro-Normal.woff");}
@font-face{font-family: MetaProLight; src:url("../fonts/MetaPro-Light.woff");}

html body {
    color:#313131;
    text-align: center;
    font-size:12px;
    background:url(imgs/body_bg.jpg) no-repeat top;
    padding:0px;
    margin: 16px 0 0 0;
    font-family: Arial, sans-serif;}

h1  {
    color:#CD1A20;
    font-size:30px;
    margin-bottom:10px;
}
h2  {	color:#333; 	font-size:16px; margin-bottom:10px;}
pre {
    white-space: pre-wrap; /* css-3 */

    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */

    white-space: -pre-wrap; /* Opera 4-6 */

    white-space: -o-pre-wrap; /* Opera 7 */

    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/* HEAD */
#head {
    width: 960px;
    margin:0px auto 0px auto;
    border: 1px solid #858a8e;
}
#head .cap{
    background:url(imgs/fons_bg_capcelera.png) no-repeat;
    height:64px;
    text-align:right;}
.idioma{
    text-align: right;
    width: 960px;
    margin:0px auto 0px auto;
}
.idioma img{
    border: 1px solid #536577;
    margin-right:10px;
    margin-top:8px;
}
#head .cap img {
    margin: 15px 0px 0px 20px;
    float:left;
}
#head .cap h4  {
    padding: 20px 15px 0px 0px;
    color: #FFF;
    font-size: 22px;
}
/* MENU COCHES*/
* { 
    margin: 0px;
    padding: 0px; outline: 0;
}
#menu {
    width:960px;
    height:31px;
    background-color:#CD1A20;
}
#menu .modelo {
    color:#FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-right: solid #858a8e 1px;
    line-height:30px;
    float:left;
    text-transform: uppercase;
    text-decoration:none;
    width: 159px;
}
#menu ul {
    list-style-type: none;
    margin: 0px;	
}
#menu ul li.nivel1 { float: left;
                     width: 77px;
}
#menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #484F53;
    border-right: solid #858a8e 1px;
    line-height:30px;
    position: relative;
    font-weight: bold;
    height:31px;
    cursor: pointer;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color: #78818A;
                                                 position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
                      position: relative;
}
#menu ul li ul {display: none; width: 100%; 
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
                                              position: absolute;left: 0px;
}
#menu ul li ul li a {
    width: 75px;
    padding: 4px 0px 4px 0px;
    border-top: solid #858a8e 1px;
}
#menu ul li ul li a:hover {
    position: relative;
}
table.falsa {border-collapse:collapse;
             border:0px;
             float: left;
             position: relative;
}


/* MENU CATEGORIES */
#menu_categories {
    width:960px;
    text-align: center;
    margin:0px auto 0px auto;
    border-top: 15px solid #fff;
    border-bottom: 2px solid #fff;
}
#menu_categories a{
    color:#50575D;
    text-decoration: none;
    font-size: 12px;
    font-weight:bold;
    border-right: solid #858a8e 1px;
    line-height:38px;
    display:block;
    float:left;
    text-transform: uppercase;
    width:12.38%;
    background-color:#bbbec1;
}
#menu_categories a:hover{
    background-color: #78818A;
    color: #fff;
}
#menu_categories a:active{
    background-color: #CD1A20;
    color:#fff;
}
#menu_categories_cupra {
    width:960px;
    text-align: center;
    margin:0px auto 0px auto;
    border-top: 15px solid #fff;
    border-bottom: 2px solid #fff;

}
#menu_categories_cupra a{
    color:#50575D;
    text-decoration: none;
    font-size: 12px;
    font-weight:bold;
    border-right: solid #858a8e 1px;
    line-height:38px;
    display:block;
    float:left;
    text-transform: uppercase;
    /*padding-left: 21px;
    padding-right: 24px;*/
    width:136px;
    background-color:#bbbec1;
}
#menu_categories_cupra a:hover{
    background-color: #78818A;
    color: #fff;
}
#menu_categories_cupra a:active{
    background-color: #CD1A20;
    color:#fff;
}
#menu_categories_cupra .cupra  {
    background-color:#CD1A20; 
    color:#FFFFFF;
}
/* MENU RUTA I BUSCADOR */
#menu_ruta {
    width:960px;
    background:url(imgs/menu_bg.png) repeat-x;
    margin:0px auto 0px auto;
    text-align:left;
    height: 30px;
    clear:both;
    background-color:#bbbec1;}

#menu_ruta p {
    font-weight:bold;
    color: #fff;
    line-height:30px;
    padding-left:15px;}

#menu_ruta a {
    font-weight:bold;
    color: #fff;}

.buscador{
    float:right;
    margin: 0px 10px 0px 0px;
    vertical-align:top;
    color: #CCC;
}

/* FI CAPÇALERA */

/* CONTINGUT */
#contingut {
    width:960px;
    margin:16px auto auto auto;
    min-height:650px;
    display:block;
}
/* CONTINGUT MODELS */
.mostra_cats{
    text-align: start;
    vertical-align: top;
    width:100px;
    background-color:#CD1A20;
    color:#fff;
    float:left;
}
.coches {
    float:right;
    width:540px;

}	
.petites_coches{
    float:left;
    text-align:left;
    color: #666;
    margin: 0px 0px 16px 8px;
    background-color:#FFF;
    border: 1px solid #999;
    font-weight: bold;
}
.petites_coches a{
    text-align:center;	
    color: #666;
    text-decoration:none;
}
.petites_coches a:hover{
    color: #CD1A20;
}
.petites_coches img{
    border:0;
}
.grans_coches {
    float:left;
    border: 1px solid #CD1A20;}
.mod_ant a{
    height: 30px;
    width:191px;
    float:left;
    text-align:center;
    padding: 17px 0px 0px 0px;
    color: #fff;
    margin-top: 20px;
    margin-left:110px;
    font-weight: bold;
    text-decoration:none;
    background-image:url(imgs/boto.png);

}

/* CONTINGUT CATS I PRODUCTES */
.mini {
    width:167px;
    height:175px;
    float: left;
    font-weight:bold;
    padding: 12px;
}
.mini img {
    border: 4px solid #CD1A20;
    margin-bottom:5px;
}
/* CONTINGUT PRODUCTE */
.imagen {
    text-align:left;


}
.imagen img{
    border: 4px solid #CD1A20;
    float:left;
    margin-right:25px;
    margin-top:3px;
    margin-bottom:20px;

}
.producto {
    text-align:left;
    display:block;
    height:400px;

}
.producto iframe{
    border: 1px solid #999;
    background-color: #FFF;
}
.producto_detalles {
    background-color:#CD1A20;
    float:left;
    padding:4px;
    margin-right:1px;
    margin-top:10px;
    color:#FFFFFF;
    margin-bottom: 10px;
}
.producto_detalles_gris{
    background-color:#484F53;
    color:#fff;
    padding:4px;
    margin-right:10px;
    margin-top:10px;
    float:left;
}
.productos_txt {
    font-family: MetaProNormal;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
}
.txt_prod{
    text-align:center;
    vertical-align: top;
    width:100px;
    background-color:#CD1A20;
    color:#fff;
    float:left;
    padding:12px 12px 12px 12px;
}
.producto_lista {
    background-color:#CD1A20;
    padding:2px;
    color:#FFFFFF;
}
.producto_lista_gris {
    background-color:#CCCCCC;
    padding:2px;
}
.text_vermell{
    font-weight:bold;
    color:#CD1A20;
}
.producto_new {
    background-color:#CD1A20;
    float:left;
    color:#FFFFFF;
    margin-bottom: 10px;	
    margin-right:15px;
    padding:0px 10px 0px 10px;
    font-size:16px;
    font-weight:bold;
}
.bot_imprimir{
    float: right;	
}
.bot_imprimir img{
    border:0px;
    margin:0px 5px 10px 0px;
}
.txt_imprimir{
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding:7px 0px 7px 0px;
}	


/* FI CONTINGUT */

/* FOOTER */
#footer{
    width:960px;
    height:60px;
    background: url(imgs/peu.png) no-repeat;
    margin:16px auto 0px auto;
    text-align:right;
    color:#FFF;
    clear: both;
}

#footer a{
    color:#FFF;
    font-size:15px;
    text-decoration:none;
    font-weight:bold;
    margin-right:3px;
    line-height: 25px;
    padding-right:20px;
}
#footer a:hover{
    text-decoration:underline;
}
#footer p {
    padding-right:20px;
    padding-top: 10px;
    font-size: 11px;
}
#banderas{
    text-align: center;

}
#banderas img{
    border: 1px solid #FFF;
    margin-right:10px;
    margin-top:8px;

}
.footer_enjoy{
    margin-top:90px;
    margin:160px auto 25px auto;
    width:100%;
    display: block;
    background:transparent url('../imgs/footer_bg_new.png') no-repeat center top !important; 
    text-align: center;
}
.imatge_enjoy{
    width: 960px;
    margin: 0px auto;
    text-align:right;
    padding:0px;
    display: block;

}
.footer_center
{
    background-color:#BBBEC1;
    width:100%;
    height: 57px;
}
.footer_bottom{
    width: 100%;
    height: 52px;
    background-color:#AFB2B5;

    padding-top: 10px;
    font-size: 11px;
    color:#FFFFFF;
}
.footer_bottom p{
    margin-top:15px;
}

/* Estils de les pestanyes de despieces i documents */
.ocultar {display:none;}
.mostrar {display:block;}
.sel0 {
    color: #fff;
    padding:10px 18px 10px 18px;
    text-align:center;
    background-color:#78818A;
    width:160x; 
    float:left;
    font-weight:bold;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.nosel0 {
    color:#50575D;
    padding:10px 18px 10px 18px;
    text-align:center;
    font-weight:bold;
    background-color:#bbbec1;
    width:160x;
    float:left;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.sel1 {
    color: #fff;
    padding:10px 7px 10px 6px;
    text-align:center;
    background-color:#78818A;
    width:160x; 
    float:left;
    font-weight:bold;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.nosel1 {
    color:#50575D;
    padding:10px 7px 10px 6px;
    text-align:center;
    font-weight:bold;
    background-color:#bbbec1;
    width:160x;
    float:left;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.sel {
    color: #fff;
    padding:10px 12px 10px 11px;
    text-align:center;
    background-color:#78818A;
    width:160x; 
    float:left;
    font-weight:bold;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.nosel {
    color:#50575D;
    padding:10px 12px 10px 11px;
    text-align:center;
    font-weight:bold;
    background-color:#bbbec1;
    width:160x;
    float:left;
    cursor: pointer;
    border-right: solid #858a8e 1px;

}
.nosel:hover{
    background-color: #78818A;
    color: #fff;
}
.nosel:active{
    background-color: #CD1A20;
    color:#fff;
}
.sel:hover{
    background-color: #78818A;
    color: #fff;
}
.sel:active{
    background-color: #CD1A20;
    color:#fff;
}
.negrita{
    font-weight: bold;
    color: #CD1A20;
}
.negrita2{
    font-weight: bold;
    color:#000;
}
.taula{
    padding-left:10px;

}

.despieces{
    background-color: #CD1A20;
    color: #fff;
    float:left !important;
    padding:10px;
    font-size:13px;
    overflow:hidden;
    /*margin-right:200px;*/

}
.recomendaciones{
    background-color: #CD1A20;
    color: #fff;
    text-align:left;
    font-size:14px;
    float:left !important;
    padding:10px;
    overflow:hidden;

    border: solid #CD1A20 1px;
    border-bottom: solid #CD1A20 1px;
    border-top:solid #CD1A20 1px;
    font-weight:normal;

}

.refenciaOK{
    text-decoration:none; 
    display:block; 
    color: #333;
    padding:4px;
    vertical-align:top;

}
.refenciaOK1{
    text-decoration:none; 
    display:block; 
    color: #333;
    vertical-align:top;
    text-align:start;



}
.remomended{
    vertical-align:text-top;

    background-color:#CCCCCC;
}
.remomended2{
    background-color:#CCCCCC;





}
.remomended3{
    background-color:#CCCCCC;
    padding-left:10px;


}
.modif_td1{
    color:#CD1A20;
    font-weight: bold;
}
.remomended4{
    background-color:#CCCCCC;

}

#table_relations{
    height:50px;
}
.producto2 {
    text-align:left;
}
.producto2 img{
    border: 4px solid #CD1A20;
    float:left;
    margin-right:25px;
    margin-top:10px;
    margin-bottom:80px;
}
.producto2 iframe{
    border: 1px solid #999;
}

ul.ui-autocomplete li.ui-menu-item{text-align:left;}

/*dialog*/
#capa_busqueda{
    position:relative;
    left:0px;
    right:0px;
    margin-left:auto;
    margin-right:auto;

}
/*  propiedades imagen grande onclick  */
/* este es el DIV de fondo que oscurece toda la pantalla detrás de la ventana */
#MVM-overlay {
    background:transparent url('/dev/views/layout/default/img/black-70-141fd7a.png') repeat left top;
    height:0;
    left: 0;
    position: fixed;
    top: 0;
    visibility:hidden;
    width: 100%;
    z-index: 9999;
    /* algunas propiedades que no funcionarán en IE */
    opacity: 0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
/* el DIV que contiene la ventana modal en si misma */
#MVM {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 10000;
}
/* un DIV interior de esa misma ventana */
#MVM-inner { position: relative; }
/* el DIV donde se mostrarán las cosas */
#MVM-contenido {
    background-image: -moz-linear-gradient(100% 100% 90deg, rgba(100,100,100,.5),rgba(100,100,100,.5));
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(100,100,100,.5)), to(rgba(100,100,100,.5)));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#80646464', EndColorStr='#80646464');
    height: 100%;
    line-height: 0;
    padding: 20px;
    /* algunas propeidades que no funcionarán en versiones anteriores a IE9 */
    border-radius: 10px;
    box-shadow: 0 0 5px #FFF inset;
}
/* el botón para cerrar la ventana */
#MVM-cerrar {
    background: transparent url('/dev/views/layout/default/img/close-28e1d92.gif') no-repeat left top;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 32px;
}
#MVM-cerrar:hover { opacity:1; }
