<!-- Content -->
<div class="container-fluid" id="content">
    <?php include INCLUDES_REPO . 'beauty.php' ?>
    <!-- Placeholders --> 
    <div class="col-xs-12 main">
        <div class="row placeholders">
            <?php
            for ($j = 0; $j < count($this->recordSet['category_data']['ctg_relations']); $j++) {
                $rel_ctg_img = $this->recordSet['category_data']['ctg_relations'][$j]['ctg_image'];
                $rel_ctg_name = $this->recordSet['category_data']['ctg_relations'][$j]['ctg_name'];
                $ctg_url = $this->recordSet['category_data']['ctg_relations'][$j]['url'];
                $error = $this->recordSet['category_data']['ctg_relations'][$j]['error'];
                ?>      

                <?php
                if ($j % 5 == 0) {
                    // position 1 in each row 
                    ?>
                    <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 placeholder brdr-v">        
                        <?php
                    } else {
                        //any other position in each row 
                        ?>
                        <div class="col-xs-6 col-sm-4 col-md-2 placeholder brdr-v-right">
                        <?php } ?>
                        <a href="<?= $ctg_url ?>">
                            <img class="img-responsive" src="<?= $rel_ctg_img ?>" onerror="this.onerror=null;this.src='<?= $error ?>';" border="0">
                        </a>
                        <br>
                        <?= $rel_ctg_name; ?>
                    </div>
                    <!--end of placeholder-->

                    <?php if (($this->recordSet['category_data']['ctg_relations']) == null) { ?>
                        <div class="col-xs-12 placeholder">
                            <div class="txt_prod"><?= constant('cat1col1'); ?></div>
                        </div>
                    <?php } ?>
                <?php } ?>
            </div>
            <!--end of all placeholders-->
        </div>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?> 
<!--end of content-->