<!-- Content -->
<div class="container-fluid" id="content">
    <div class="row">
        <div class="producto2 col-xs-12 no-h-padding">
            <div class="row">
                <div id="categories" class="col-xs-12 col-sm-2 col-md-2 sidebar">
                    <!-- Sidebar Menu insertion -->
                    <?php include INCLUDES_REPO . 'sidebar_transp.php' ?>
                    <!-- End of Sidebar insertion-->
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 producto-margin-top" >
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <p class="seat-red-text fs-25 meta-pro-light pull-left" ><?= $this->recordSet['category_data']['list_name']; ?></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                        </div>
                    </div>
                    </br>	
                    <div class="row" id="divcard_0">
                        <div class="imagen col-xs-12 col-sm-6 no-h-padding pull-left">
                            <div class="card_image">

                                <img class="img-responsive" src="<?= $this->recordSet['category_data']['list_img'] ?>" onerror="this.onerror=null;this.src='<?= $this->recordSet['category_data']['error'] ?>';" width="467" height="340" border="0" alt="list"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right brdr-v" style="height: 340px;">
                            <div class="meta-pro-normal productos_txt productos-txt" style="height: 340px;">
                                <?= nl2br($this->recordSet['category_data']['ctg_list'][0]['prd_notes']); //first product returned notes ?>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <?php
                        if (($this->recordSet['category_data']['ctg_list'] == null)) {
                            echo constant('cat1col1');
                        } else {
                            ?>
                            <h3 class="meta-pro-light"><?= constant('listTITLE'); ?></h3>
                            <table cellpadding="10" cellspacing="0">
                                <tr class="seat-red-text meta-pro-normal fs-15 brdr-h-bottom" style="height:30px;">
                                    <td width="200" align="left" 	valign="middle"><strong><?= constant('listREF'); ?></strong></td>
                                    <?php if (constant('has_prices')) { ?>
                                        <td width="650" align="left"  	valign="middle"><strong><?= constant('listPRO'); ?></strong></td>
                                        
                                       <!-- Muestra UT si se requiere y si no columna vacía-->
                                        <?php if (constant('show_ut')) { ?>
                                        <td width="150"	align="center"  valign="middle"><strong><?= constant('listUT'); ?></strong></td>
                                        <?php } else { ?>
                                        <td width="150"	align="center"  valign="middle"><strong></strong></td>
                                        <?php } ?>
                                        
                                        <td width="200"	align="center"  valign="middle"><strong><?= constant('listPRC'); ?></strong></td>
                                    <?php } else { ?>
                                        <td width="1000" align="left"  	valign="middle"><strong><?= constant('listPRO'); ?></strong></td>
                                        
                                        <?php if (constant('show_ut')) { ?>
                                        <td width="150"	align="center"  valign="middle"><strong><?= constant('listUT'); ?></strong></td>
                                        <?php } else { ?>
                                        <td width="150"	align="center"  valign="middle"><strong></strong></td>
                                        <?php } ?>
                                        
                                    <?php } ?>                
                                </tr>
                                <?php
                                foreach ($this->recordSet['category_data']['ctg_list'] as $key => $value) {
                                    $list_prdsku = $value['prd_sku'];
                                    $list_prdname = $value['prd_name'];
                                    $list_prdut = $value['prd_ut'];
                                    $list_prdprice = $value['prd_price'];
                                    $l_url = $value['url'];
                                    ?>
                                    <tr class="fs-15 producto_lista meta-pro-normal brdr-h-bottom" style="height:30px;">
                                        <td align="left" valign="middle"><a href="<?= $l_url; ?>"><strong><?= $list_prdsku; ?></strong></a></td>
                                        <td align="left" valign="middle"><a href="<?= $l_url; ?>"><?= $list_prdname; ?></a></td>
                                        
                                        <!-- Muestra UT si se requiere y si no columna vacía-->
                                    <?php if (constant('show_ut')) { ?>
                                        <td align="center" valign="middle"><a href="<?= $l_url; ?>"><?= $list_prdut; ?></a></td>
                                    <?php } else { ?>
                                        <td align="center" valign="middle"><a href="<?= $l_url; ?>"></a></td>
                                    <?php } ?>
                                        
                                    <?php if (constant('has_prices')) { ?>
                                        <td align="center" valign="middle"><a href="<?= $l_url; ?>"> <?= $list_prdprice . " " . constant('lCURR'); ?></a></td>
                                    <?php } else { ?>
                                        <td align="center" valign="middle"><a href="<?= $l_url; ?>"></a></td>    
                                    <?php } ?>
                                        
                                    </tr>
                                <?php } ?>
                            </table>
                        <?php } ?>   
                    </div>
                    </br>     
                </div>
            </div>
        </div>
    </div>
</div>
<?=
"</div></div>"; // closing <div id="wrap"> from header.php
// NOTE: only this view requires a double</div>
?> 
<!--end of content-->