<!-- Content -->
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xs-12 no-h-padding">
            <div class="row">
                <div id="categories" class="col-xs-12 col-sm-2 col-md-2 sidebar">
                    <!-- Sidebar Menu insertion -->
                    <?php include INCLUDES_REPO . 'sidebar_transp.php' ?>
                    <!-- End of Sidebar insertion-->
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 producto-margin-top" >
                    <div class="row">
                        <!--Name-->
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <p class="seat-red-text fs-25 meta-pro-light pull-left" ><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_name']; ?></p>
                        </div>
                        <!--REF & NEW-->
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="pull-right">
                                        <span class="seat-deep-grey-text fs-20 meta-pro-bold"><?= constant('lREF'); ?>: </span>
                                        <span class="seat-helvetica seat-deep-grey-text fs-20"><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_sku']; ?></span>
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <p class="producto_new pull-right">
                                        <?php
                                        if ($this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_new'] >= date('Y-m-d', strtotime("-2 week"))) {
                                            echo constant('lNEW');
                                        }
                                        ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>	
                    <div class="row" id="divcard_0">
                        <div class="imagen col-xs-12 col-sm-6 no-h-padding pull-left">
                            <div class="card_image">
                                <img class="img-responsive" src="<?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_img']; ?>" onerror="this.onerror=null;this.src='<?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['error'] ?>';" width="467" height="340" border="0"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right brdr-v" style="height: 350px;">
                            <!--Description-->
                            <div class="meta-pro-normal productos_txt productos-txt-short" style="height: 180px;"><?= nl2br($this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_notes']); ?></div>
                            <br/>
                            <!--COLLECTION PROPERTIES/PRICE;UT-->
                            <?php
                            $components = explode("/", $_SERVER['REQUEST_URI']);
                            $ctg = $components[4];
                            $prd = $components[5];
                            $print_url = BASE_URL . "print/print_collprd/$ctg/$prd"; //print_prd URL              
                            include INCLUDES_REPO . 'wishlist/wl_collection.php';
                            ?>
                            <!-- CART/WISHLIST -->                
                            <?php
                            //[config_xx]
                            if (constant('has_prices')==true) {
                                include INCLUDES_REPO . 'wishlist/wl_wishlist.php';
                            }
                            ?>                            
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
<br/><br/>
<?= "</div>"; // closing <div id="wrap"> from header.php  ?>
<!-- end of content -->