<!-- Content -->
<div class="container-fluid" id="content">
    <!-- Carousel insertion-->
    <div class="row">
        <div class="hidden-xs col-sm-12 no-h-padding">
            <?php include INCLUDES_REPO . 'carousel.php' ?>
        </div>
    </div>
    <!-- end of carousel insertion-->
    <div class="col-xs-12">
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-3"></div>
            <?php foreach ($this->recordSet['hc_indexdata'] as $value) { ?>
                <!--Section-->
                <div class="col-xs-12 col-sm-3 center-block">
                    <a href="<?= $value['url'] ?>">
                        <p class="seat-deep-grey-text meta-pro-light fs-20"><?= $value['home'] ?></p>
                        <img class="img-responsive center-block" src="<?= $value['img'] ?>" alt="<?= $value['alt'] ?>" />
                    </a>
                </div>
                <!--End of section-->
            <?php } ?>
            <div class="col-xs-12 col-sm-3"></div>      
        </div>
    </div>
</div>
<?= "</div>" // closing <div id="wrap"> from header.php  ?> 
<!--end of content-->