<script type="text/javascript">
    function print_prd(alert_msg) {
        if (window.print) {
            window.print();
        } else {
            alert(alert_msg);
            window.close();
        }
    }
</script>
<body onLoad="javascript:print_prd('<?= constant('browser') ?>');" style="background-image:none; text-align:center;">
    <div bgcolor="#FFFFFF" style="width:700px; text-align:left;">
        <div style="height:50px; text-align:right;">
            <img src="<?= IMG_REPO; ?>logo_seat_big.png" width="159" height="36" style="float:left; margin-right:20px;"/>
            <h4><?= constant('Head1') ?></h4>
        </div>
        <p align="right">
            <script type="text/javascript">
                var ahora = new Date()
                document.write(ahora.getDate())
                document.write("/")
                document.write(ahora.getMonth() + 1)
                document.write("/")
                document.write(ahora.getFullYear())
            </script>
        </p>
        <hr />
        <h2><?= $this->recordSet['car_name']; ?></h2>
        <h1><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_name']; ?></h1>
        <h2><?= strtoupper(constant('lREF')); ?>: <?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_sku']; ?></h2>
        <img src="<?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_img'] ?>" onerror="<?= IMG_REPO; ?>00.jpg';" width="467" height="340" border="0"/>
        <hr />
        <pre class="txt_imprimir"><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_notes'] ?></pre>
        <hr />
        <table width="100%" cellpadding="10" style="font-size:12px; font-weight: bold;">
            <tr>
                <?php if(constant('show_ut')) { ?>
                <td><?= constant('lUT') ?>: <?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_ut']; ?></td>
                <?php } ?>
                <?php if (constant('has_prices')==true) { ?>
                    <td><?= constant('lPRC') . ": " . $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_price'] . constant('lCURR'); ?></td>
                <?php } ?>
            </tr>
        </table>
        <!--Disclaimer-->
        <p class=" seat-deep-grey-text fs-10 mrgn-top-20"><?= constant('lDIS'); ?></p>
    </div>
</body>
<?= '</html>' ?>