<script type="text/javascript">
    function print_prd(alert_msg) {
        if (window.print) {
            window.print();
        } else {
            alert(alert_msg);
            window.close();
        }
    }
</script>
<body onLoad="javascript:print_prd('<?= constant('browser') ?>');" style="background-image:none;">
    <div style="width:650px; margin:0px auto 20px auto;">
        <h3 class="meta-pro-light"><?= constant('wlTITLE');?></h3>
        <table class="table_cart">
            <tr height="30px" class="seat-red-text meta-pro-normal fs-12 brdr-h-bottom">
                <th width="18%">&nbsp;&nbsp;<?= constant('lREF');?></th>
                <th width="15%">&nbsp;&nbsp;</th>
                <th width="30%">&nbsp;&nbsp;<?= constant('wlNAME');?></th>
                <th width="6%" style="text-align:right;"><?= constant('wlUNIT');?>&nbsp;&nbsp;</th>
                <th width="13%" style="text-align:right;"><?= constant('wlPRC');?>&nbsp;&nbsp;</th>
                <th width="13%" style="text-align:right;"><?= constant('wlTOT');?>&nbsp;&nbsp;</th>
                <th width="5%" style="text-align:center;">&nbsp;</th>
            </tr>
            <?php
            foreach ($this->recordSet['iCart'] as $item) {
                $vSubTotal = $item[$_SESSION['lang_tag']]["prd_price"] * $item["count"];
                $vTotal = $vTotal + $vSubTotal;
                ?>
                <tr class="seat-deep-grey-text meta-pro-normal fs-12 brdr-h-bottom">
                    <td><?= $item[$_SESSION['lang_tag']]["prd_sku"] ?></td>
                    <td><img class="img-responsive" src="<?= $item[$_SESSION['lang_tag']]["prd_img"] ?>" width="100" height="80" border="0"/></td>
                    <td><?= $item[$_SESSION['lang_tag']]["prd_name"] ?></td>
                    <td align="right"><span class="seat-helvetica"><?= $item["count"] ?></span></td>
                    <td align="right"><span class="seat-helvetica"><?= $item[$_SESSION['lang_tag']]["prd_price"] ?> <?= constant('lCURR');?></span></td>
                    <td align="right"><span class="seat-helvetica"><?= number_format((float)$vSubTotal, 2, '.', '') ?> <?= constant('lCURR');?></span></td>
                    <td align="center">&nbsp;</td>
                </tr>
            <?php } ?>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="right" class="meta-pro-bold"><?= strtoupper(constant('wlTOT'));?>:</td>
                <td align="right"><span class="seat-helvetica fs-12"><strong><?= number_format((float)$vTotal, 2, '.', '') ?> <?= constant('lCURR');?></strong></span></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>            
        <div class="clearfix text-left">
            <br/>
            <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('wlDIS');?></p>
            <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('lDIS_1_1');?></p>
            <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('lDIS_1_2');?></p>
        </div>        
    </div>
</body>
<?= '</html>' ?>