<!-- Content -->
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xs-12 no-h-padding">
            <div class="row">
                <div id="categories" class="col-xs-12 col-sm-2 col-md-2 sidebar">
                    <!-- Sidebar Menu insertion -->
                    <?php include INCLUDES_REPO . 'sidebar_transp.php' ?>
                    <!-- End of Sidebar insertion-->
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 producto-margin-top" >
                    <div class="row">
                        <!--Name-->
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <p class="seat-red-text fs-25 meta-pro-light pull-left" ><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_name']; ?></p>
                        </div>
                        <!--REF & NEW-->
                        <div class="col-xs-12 col-sm-6 no-h-padding producto-min-height">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="pull-right">
                                        <span class="seat-deep-grey-text fs-20 meta-pro-bold"><?= constant('lREF'); ?>: </span>
                                        <span class="seat-helvetica seat-deep-grey-text fs-20"><?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_sku']; ?></span>
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <p class="producto_new pull-right">
                                        <?php
                                        if ($this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_new'] >= date('Y-m-d', strtotime("-2 week"))) {
                                            echo constant('lNEW');
                                        }
                                        ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="row" id="divcard_0">
                        <div class="imagen col-xs-12 col-sm-6 no-h-padding pull-left">
                            <div class="card_image">
                                <img class="img-responsive" src="<?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['prd_img'] ?>" onerror="this.onerror=null;this.src='<?= $this->recordSet['prd_info'][$_SESSION['lang_tag']]['error'] ?>';" width="467" height="340" border="0"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right brdr-v" style="height: 350px;">
                            <?php
                            // Product Tabs || Description || Documents || Despieces
                            include INCLUDES_REPO . 'product_tabs/prd_tabs.php';
                            ?>
                        </div>
                    </div>
                    <?php echo "<br/><br/><br/><br/>"; ?>
                    <?php if ($this->recordSet['cross_selling'] != null) { ?>
                        <div>
                            <!--Nav tabs-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active meta-pro-normal"><a href="#cross_selling" aria-controls="cross_selling" role="tab" data-toggle="tab"><?= constant('lCROSS'); ?></a></li>              
                            </ul>
                            <!--Tab panes-->
                            <div class="tab-content ">
                                <!--Cross Selling-->
                                <div id="cross_selling" role="tabpanel" class="tab-pane fade in active" style='overflow-x: scroll;'>
                                    <table id="table_relations2">
                                        <tbody>
                                            <tr style="background-color:#FFF">
                                                <!--Init cross_holders-->
                                                <?php foreach ($this->recordSet['cross_selling'] as $key => $value) { ?>
                                                    <td width="140px" height="260px">
                                                        <div class="placeholder height-260 brdr-v text-center padding-h-10 mrgn-top-20">
                                                            <a href="<?= $value['url'] ?>" target="_blank">
                                                                <img class="img-responsive" src="<?= $value['crs_img'] ?>" onerror="<?= $value['error'] ?>">
                                                            </a>
                                                            <a href="<?= $value['url'] ?>" target="_blank">
                                                                <span class="a-deco-none seat-deep-grey-text seat-helvetica fs-15"><?= $value['crs_sku'] ?></span>
                                                                <br>
                                                                <span class="a-deco-none seat-deep-grey-text meta-pro-normal fs-15"><?= $value['crs_name'] ?></span>
                                                                <br>
                                                            </a>
                                                        </div>
                                                    </td>
                                                <?php } ?>
                                                <!--End cross_holders-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php  ?>
<!-- end of content -->