<!-- Content -->
<div class="container-fluid" id="content">
    <!-- Carousel insertion-->
    <div class="row">
        <div class="col-xs-12 no-h-padding">
            <?php include INCLUDES_REPO . 'carousel.php' ?>
        </div>
    </div>
    <!--Section title-->
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11">
            <span class="seat-deep-grey-text meta-pro-light fs-45"><?= constant('selcar'); ?></span>
        </div>
    </div>
    <!-- End of section title-->	
    <!-- Placeholders -->
    <div class="row">
        <?php
        //value-array: 0->car-name,1->key,2->years,3->re_direct-url,4->img_path
        for ($y = 1; $y < count($this->recordSet['othermodels']); $y++) {
            $om_name = $this->recordSet['othermodels'][$y]['name'];
            $om_key = $this->recordSet['othermodels'][$y]['key'];
            $om_mod = $this->recordSet['othermodels'][$y]['mod'];
            $om_year = $this->recordSet['othermodels'][$y]['year'];
            $om_url = $this->recordSet['othermodels'][$y]['url'];
            $om_img = $this->recordSet['othermodels'][$y]['img'];
            if ($y % 5 == 1) { //it doesn't start with 0, but with 1
                // position 1 in each row 
                ?>
                <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">      
                    <?php
                } else {
                    // any other position in each row 
                    ?>
                    <div class="col-xs-6 col-sm-4 col-md-2 brdr-h-bottom car-cell">
                    <?php } ?>  
                    <!--Placeholder link-->
                    <a href="<?= $om_url; ?>">
                        <img src="<?= $om_img; ?>" alt="<?= $om_name . ' ' . $om_year; ?>"/><br/>        
                        <p class= "seat-dark-grey-text"><b><?= $om_name; ?></b> - <?= $om_key; ?><br/><?= $om_year; ?></p>
                    </a>
                </div>        
            <?php } ?>     
            <!-- Botón de modelos actuales ocupa lo mismo que un coche -->
            <div class="col-xs-6 col-sm-4 col-md-2 placeholder pad-top-50">
                <a class="seat_button" href="<?= BASE_URL . "seleccion/seleccion"; ?>">
                    <span><?= constant('newcars'); ?> </span>
                    <small> 
                        <span class="glyphicon glyphicon-chevron-right">
                        </span>
                    </small>
                </a>
            </div>
        </div>
        <!--end of placeholders-->
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?> 
<!--end of content-->