<!-- Content -->
<div class="container-fluid" id="content">  
    <div class="row"><!-- Carousel insertion-->
        <div class="hidden-xs col-sm-12 no-h-padding">
            <?php include INCLUDES_REPO . 'carousel.php' ?>
        </div>
    </div>
    <div class="row"><!--Section title-->   
        <div class="col-xs-12 col-sm-offset-1 col-sm-11">
            <span class="seat-deep-grey-text meta-pro-light fs-45"><?= constant('selcar'); ?></span>
        </div>
    </div><!-- End of section title -->		
    <!-- Placeholders -->
    <div class="col-xs-12">
        <div class="row"><!-- Bootstrap row-->
            <?php
            //value-array: 0->car-name,1->key,2->re_direct-url,3->img_path
            for ($x = 0; $x < count($this->recordSet['currentmodels']); $x++) {
                $cm_name = $this->recordSet['currentmodels'][$x][0];
                $cm_key = $this->recordSet['currentmodels'][$x][1];
                $cm_url = $this->recordSet['currentmodels'][$x][2];
                $cm_img = $this->recordSet['currentmodels'][$x][3];
                //The placeholder for the first vehicle model IS BIGGER
                if ($x == 0) {
                    ?>                
                    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 brdr-h-bottom car-cell" style="height:315px;">
                        <div class="center-block">
                            <a class="center-block" href="<?= $cm_url; ?>">
                                <img src="<?= $cm_img; ?>" alt="<?= $cm_name; ?>" />
                                <p class= "seat-dark-grey-text"><b><?= $cm_name; ?></b><?= $cm_key; ?></p>
                            </a>
                        </div>
                    </div>
                    <!--Vehicles grouped in 2 lines of 3 to the right-->
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row">

                        <?php } elseif (($x != 0) && ($x < 7)) { ?>
                            <div class="col-xs-6 col-sm-4 col-md-4 brdr-h-bottom car-cell">
                                <a href="<?= $cm_url; ?>">
                                    <img src="<?= $cm_img; ?>" alt="<?= $cm_name; ?>"/>
                                    <p class= "seat-dark-grey-text"><b><?= $cm_name; ?></b><?= $cm_key; ?></p>
                                </a>                  
                            </div>              
                        <?php } elseif ($x == 7) { ?>
                        </div>            
                    </div>    
                </div><!-- first-row end -->
                <!--remaining rows with vehicles grouped in 5 per line-->
                <div class="row">
                    <?php //following <div> only applies 1 time... ?>
                    <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">
                        <a href="<?= $cm_url; ?>">
                            <img src="<?= $cm_img; ?>" alt="<?= $cm_name; ?>"/>
                            <p class= "seat-dark-grey-text"><b><?= $cm_name; ?></b><?= $cm_key; ?></p>
                        </a>
                    </div>
                    <?php
                } elseif ($x > 6) {
                    if (($x - 7) % 5 == 0) { //minus the first 7 positions
                        // position 1 in each row 
                        ?>
                        <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">
                            <?php
                        } else {
                            // any other position in each row 
                            ?>
                            <div class="col-xs-6 col-sm-4 col-md-2 brdr-h-bottom car-cell">
                            <?php } ?> 
                            <a href="<?= $cm_url; ?>">
                                <img src="<?= $cm_img; ?>" alt="<?= $cm_name; ?>"/>
                                <p class= "seat-dark-grey-text"><b><?= $cm_name; ?></b><?= $cm_key; ?></p>
                            </a>
                        </div>
                        <?php
                    }
                }
                ?>
                <!--end rest of models-->
                <!-- Other models button uses the same space as a model -->
                <div class="col-xs-6 col-sm-4 col-md-2 placeholder pad-top-50">
                    <a class="seat_button" href="<?= BASE_URL . "seleccion/anteriores" ?>">
                        <span><?= constant('prevcars'); ?> </span>
                        <small> 
                            <span class="glyphicon glyphicon-chevron-right">
                            </span>
                        </small>
                    </a>
                </div>
            </div>    
            <!--end of placeholders-->
        </div>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?> 
<!--end of content-->