<input type="hidden" id="url" value="<?= $this->current_user->getBaseUrl() ?>" />
<div class="login">
    <h1>Acceso para clientes</h1>
    <form method="post" action="login/valid">
        <table id="tlogin">
            <tr>
                <td>User:</td>
                <td>
                    <input type="text" name="login_user" size="30" maxlength="40"  />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password"  name="login_password" size="30" maxlength="10"  />				
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="button" name="Submit" value="login" />
                </td>
            </tr>
        </table>
    </form>
</div>