﻿<script type="text/javascript">
    $(function () {
        var url = document.getElementById("url").value;
        var location = "";
        setTimeout(
                function () {
                    window.location.href = url + 'index';
                }, 1000);
    });
</script>
<div style="margin-left: auto; margin-right: auto; width: 1050px; text-align: center; color:#333333;">
    <h1>Desconexión</h1>
</div>
<div class="index_parraf">
    <p>Usuario desconectado...</p>
</div>