<script type="text/javascript">
    $(function () {
        var url = document.getElementById("url").value;
        var location = "";
        setTimeout(
                function () {
                    window.location.href = url + 'index';
                }, 1000);
    });
</script>
<div style="margin-left: auto; margin-right: auto; width: 1050px; text-align: center; color:#333333;">
    <h1> Validación de usuario</h1>
</div>
<div class="index_parraf">
    <p>Usuario validado...</p>
</div>
<input type="hidden" id="url" value="<?= $this->current_user->getBaseUrl() ?>" />
