<!-- Content -->
<script src="/views/cart/wcart_actions.js"></script>
<div style="width:650px; margin:0px auto 20px auto;">
    <h3 class="meta-pro-light"><?= constant('wlTITLE') ?></h3>
    
    <!--Control Tabs-->
    <ul class="nav nav-tabs meta-pro-normal">
        <li id="wishlisttab" class="wishlisttabs active"><a data-toggle="tab" href="#wishlist"><?= constant('wlTAB_WISHLIST');?></a></li>
        <li id="formularitab" class="wishlisttabs"><a data-toggle="tab" href="#formulari"><?= constant('wlTAB_CONTACTFORM');?></a></li>
    </ul>
    
    <!--Contingut tabs-->
    <div class="tab-content">
        <!--Wishlist-->
        <div id="wishlist" class="tab-pane fade in active">
            <table class="table_cart">
                <tr height="30px" class="seat-red-text meta-pro-normal fs-12 brdr-h-bottom">
                    <th width="18%">&nbsp;&nbsp;<?= constant('lREF') ?></th>
                    <th width="15%">&nbsp;&nbsp;</th>
                    <th width="30%">&nbsp;&nbsp;<?= constant('wlNAME') ?></th> 
                    <th width="6%" style="text-align:right;"><?= constant('wlUNIT') ?>&nbsp;&nbsp;</th> 
                    <th width="13%" style="text-align:right;"><?= constant('wlPRC') ?>&nbsp;&nbsp;</th> 
                    <th width="13%" style="text-align:right;"><?= constant('wlTOT') ?>&nbsp;&nbsp;</th>
                    <th width="5%" style="text-align:center;">&nbsp;</th>
                </tr>
                <?php //
                foreach ($this->recordSet['iCart'] as $item) {
                    $vSubTotal = $item[$_SESSION['lang_tag']]['prd_price'] * $item['count'];
                    $vTotal = $vTotal + $vSubTotal;
                    ?>
                    <tr class="seat-deep-grey-text meta-pro-normal fs-12 brdr-h-bottom">
                        <td><?= $item[$_SESSION['lang_tag']]['prd_sku'] ?></td>
                        <td><img class="img-responsive" src="<?= $item[$_SESSION['lang_tag']]['prd_img'] ?>" width="100" height="80" border="0"/></td>
                        <td><?= $item[$_SESSION['lang_tag']]['prd_name'] ?></td>
                        <td align="right"><input id="input_quantity_<?= $item['uid'] ?>" type="number" min="1" step="1" size="3" value="<?= $item['count'] ?>" onblur="javascript:validateQuantity('<?= $item['uid'];?>','<?= $item['count'];?>','<?= constant('err_wlITEM');?>')"></td>
                        <td align="right"><span class="seat-helvetica"><?= $item[$_SESSION['lang_tag']]['prd_price'];?> <?= constant('lCURR');?></span></td>
                        <td align="right"><span class="seat-helvetica"><?= number_format((float)$vSubTotal, 2, '.', '') ?> <?= constant('lCURR');?></span></td>
                        <td align="center"><a href="javascript:deleteItem('<?= $item['uid'] ?>')"><span class="seat-red-text glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right" class="meta-pro-bold"><?= strtoupper(constant('wlTOT'));?>:</td>
                    <td align="right"><span class="seat-helvetica fs-12"><strong><?= number_format((float)$vTotal, 2, '.', '') ;?> <?= constant('lCURR');?></strong></span></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <div><br/></div>
            <div name="botonera" class="brdr-h-bottom">                                
                <a role="button" class="seat_button_ficha bg-red pull-left" href="javascript:emptyCart('<?= constant('wlEMPTIED');?>');">
                    <span class="seat-white-text glyphicon glyphicon-trash"></span> <?= constant('wlEMPTY');?>
                </a>
                <a role="button" class="seat_button_ficha bg-red mrgn-h-15 pull-left" href="javascript:location.reload();">
                    <span class="seat-white-text glyphicon glyphicon-refresh"></span> <?= constant('wlUPDATE');?>
                </a>
                <a role="button" class="seat_button_ficha bg-grey mrgn-h-15 pull-left" href="<?= BASE_URL . "print/print_wishlist" ?>" target="_self">
                    <span class="glyphicon glyphicon-print seat-white-text"></span> <?= constant('wlPRNT');?>
                </a>
                <a role="button" class="seat_button_ficha bg-black pull-right" data-toggle="modal" data-target="#myModal1" onclick="reloadMap();">
                    <span class="seat-white-text glyphicon glyphicon-map-marker"></span> <?= constant('dealer');?>
                </a>
                <br/>
                <br/>
                <div class="clearfix text-left">
                    <br/>
                    <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('wlDIS');?></p>
                    <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('lDIS_1_1');?></p>
                    <p class="seat-deep-grey-text meta-pro-bold fs-12"><?= constant('lDIS_1_2');?></p>
                </div>                
            </div>
        </div> 
        
        <!-- Formulari de contacte -->
        <div id="formulari" class="tab-pane fade">
            <?php include INCLUDES_REPO . 'contact_form.php';?>     
        </div>
    </div>
</div>
<div><br/></div>
<!-- Modal de mapa de concesionarios -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:100%; height:700px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?= constant('mpTITLE');?></h4>
            </div>
            <div class="modal-body">
                 <?php include INCLUDES_REPO . 'map_modal/map_modal_header.php';?>
                 <?php include INCLUDES_REPO . 'map_modal/map_modal_body.php';?>
                 <?php include INCLUDES_REPO . 'map_modal/map_modal_footer.php';?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?= constant('mpTITLE');?></button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<?= JS_REPO ?>jquery.min.js"><\/script>')</script>
<script src="<?= JS_REPO ?>jquery-2.1.1.js"></script>
<script src="<?= JS_REPO ?>commonviews.js"></script> 
<script type="text/javascript" src="<?= JS_REPO ?>jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript">
    // Change JQueryUI plugin names to fix name collision with Bootstrap.
    $.widget.bridge('uitooltip', $.ui.tooltip);
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="<?= JS_REPO ?>bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="<?= JS_REPO ?>holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<?= JS_REPO ?>ie10-viewport-bug-workaround.js"></script>
    <script>         
        /** Validación de la selección de concesionario.*/
        function validateConc() {
            if ($('#dealerMail').val() === ''){
                alert("<?= constant('cformSELDEALER_error'); ?>");
            }
        }
    </script>    
    <script src="<?= JS_REPO ?>contact1.js"></script>
    <script src="<?= JS_REPO ?>validator.js"></script>
 </body>
 </html>