<div class="form_search">
    <div class="tit_missatge">
        <h2><?= constant($this->recordSet['error_log']); ?></h2>
    </div>
    <script type="text/javascript">
        alert("<?= constant($this->recordSet['error_log']); ?>");
        $(window).attr("location", "<?= BASE_URL . "index"; ?>");
    </script>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php ?>
<!-- end of content -->