<!-- Content -->
<div class="container-fluid" id="content">
    </br>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <h2><b><?= constant('policy1') ?></b></h2>
                <p>
                    <span><?= constant('policy2') ?></span>
                    <br>
                    <br>
                    <span><?= constant('policy3') ?></span>
                </p>
                <p><?= constant('policy4') ?></p>
                <p>
                    <span><?= constant('policy5') ?>
                          <?= constant('policy6') ?>
                          <?= constant('policy7') ?>
                          <?= constant('policy8') ?>
                    </span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-1"></div>
        </div>
    </div>		
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php ?>
<!--end of content-->