<!-- Content -->
<div class="container-fluid" id="content" style="border-top:1px solid #ccc;">
    <!--Title current models-->
    <?php
    //Results exists for either current or other models
    if (!(empty($this->recordSet['searchresults']['currentmodels'])) || !(empty($this->recordSet['searchresults']['othermodels']))) {

        if (!(empty($this->recordSet['searchresults']['currentmodels']))) {
            ?>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search4') . ' ' . constant('search5'); ?>:</h2>
                </div>
            </div>
            <div class="row">
                <!--Placeholders Current models-->
                <?php
                for ($b = 0; $b < count($this->recordSet['searchresults']['currentmodels']); $b++) {
                    $name = $this->recordSet['searchresults']['currentmodels'][$b]['name'];
                    $fml = $this->recordSet['searchresults']['currentmodels'][$b]['fml'];
                    $mod = $this->recordSet['searchresults']['currentmodels'][$b]['mod'];
                    $key = $this->recordSet['searchresults']['currentmodels'][$b]['key'];
                    $img = $this->recordSet['searchresults']['currentmodels'][$b]['img'];
                    $url = $this->recordSet['searchresults']['currentmodels'][$b]['url'];

                    if ($b % 5 == 0) {
                        // position 1 in each row 
                        ?>
                        <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">      
                            <?php
                        } else {
                            // any other position in each row 
                            ?>
                            <div class="col-xs-6 col-sm-4 col-md-2 brdr-h-bottom car-cell">
                            <?php } ?>  
                            <!--Placeholder link-->
                            <a href="<?= $url; ?>">
                                <img src="<?= $img; ?>"/><br/>        
                                <p class= "seat-dark-grey-text"><b><?= $fml . " " . $mod; ?></b> - <?= $key; ?></p>
                            </a>
                        </div>        
                    <?php } ?>
                </div>        
                <!--[END]Title current models-->         
            <?php } elseif ((empty($this->recordSet['searchresults']['currentmodels']))) {
                ?>
                <!--Title current models-->  
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search2') . ' ' . constant('search6'); ?>.</h2>
                    </div>
                </div>   
                <!--[END]Placeholders current models-->  
                <!--Title othermodels-->
                <?php
            }
            //@@@
            if (!(empty($this->recordSet['searchresults']['othermodels']))) {
                ?>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search4') . ' ' . constant('search7'); ?>:</h2>
                    </div>
                </div>
                <div class="row">
                    <!--[END]Title othermodels-->        
                    <!--Placeholders other models-->
                    <?php
                    for ($c = 0; $c < count($this->recordSet['searchresults']['othermodels']); $c++) {
                        $name = $this->recordSet['searchresults']['othermodels'][$c]['name'];
                        $fml = $this->recordSet['searchresults']['othermodels'][$c]['fml'];
                        $mod = $this->recordSet['searchresults']['othermodels'][$c]['mod'];
                        $key = $this->recordSet['searchresults']['othermodels'][$c]['key'];
                        $img = $this->recordSet['searchresults']['othermodels'][$c]['img'];
                        $url = $this->recordSet['searchresults']['othermodels'][$c]['url'];
                        $year = $this->recordSet['searchresults']['othermodels'][$c]['year'];
                        if ($c % 5 == 0) {
                            // position 1 in each row 
                            ?>
                            <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">      
                                <?php
                            } else {
                                // any other position in each row 
                                ?>
                                <div class="col-xs-6 col-sm-4 col-md-2 brdr-h-bottom car-cell">
                                <?php } ?>  
                                <!--Placeholder link-->
                                <a href="<?= $url; ?>">
                                    <img src="<?= $img; ?>"/><br/>        
                                    <p class= "seat-dark-grey-text"><b><?= $fml . " " . $mod; ?></b> - <?= $key; ?></br><?= $year; ?></p>
                                </a>
                            </div>        
                        <?php } ?>
                    </div>
                <?php } elseif ((empty($this->recordSet['searchresults']['othermodels']))) {
                    ?>  
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search2') . ' ' . constant('search8'); ?>.</h2>
                        </div>
                    </div>  
                    <!--[END]Placeholders othermodels-->
                    <?php
                }
            } //end if(current/other models)
            //@@@
            elseif (!(empty($this->recordSet['searchresults']['unassigned']))) {
                ?>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search2') . ' ' . constant('search3'); ?>.</h2>
                    </div>
                </div>			
                <!--end CONTENT CATALOGUE-->

                <!--COLLECTION-->
                <!--Title Collections-->
                <?php
                //@@@
            } elseif (!(empty($this->recordSet['searchresults']['collection']))) {
                ?>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search4') . ' ' . constant('search9'); ?>.</h2>
                    </div>
                </div>
                <!--[END]Title Collections-->
                <!--Placeholder Collections-->
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2 brdr-h-bottom car-cell">
                        <a href="<?= $this->recordSet['searchresults']['collection'][0]['url'] ?>">
                            <img src="<?= $this->recordSet['searchresults']['collection'][0]['img'] ?>"/><br />
                            <p class= "seat-dark-grey-text"><b>SEAT Collection</b></p>
                        </a>
                    </div>
                </div>
                <!--[END]COLLECTION-->
            <?php } else { ?> <!--No results in all cases-->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="seat-deep-grey-text meta-pro-light fs-25"><?= constant('search1'); ?> <span class="seat-helvetica fs-20"><?= $this->recordSet['prd_sku']; ?></span> <?= constant('search2') ?>.</h2>
                    </div>
                </div>
            <?php } ?>
        </div>
        <br/><br/>
    </div>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php   ?>
<!-- end of content -->