<!-- Content -->
<div class="container-fluid" id="content">
    <?php include INCLUDES_REPO . 'beauty.php' ?>
</div>
<?= "</div>"; // closing <div id="wrap"> from header.php ?>
<!-- end of content -->
